* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline;
}

/* ------------------------------------------ */
.content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
}

.title {
    display: flex;
    margin: 30px 0px;
}

.title h2 {
    margin: 5px 10px;
}

.manage-list ul {
    display: flex;
    font-size: 16px;
    border-bottom: solid 1px #aaa;
}

.manage-list ul li {
    display: inline-block;
    margin: 0px 30px 0px 0px;
    padding-bottom: 30px;
}

a {
    color: black;
}

.manage-list ul .selected {
    border-bottom: solid 3px #000;
}

.order-overview {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0px;
}

.order-overview i {
    margin-right: 5px;
}

.search-group {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btn-month {
    color: coral;
    background-color: #fff;
    border: solid 1px coral;
    border-radius: 5rem;
    padding: 3px 10px;
    margin-right: 10px;
}

.btn-month:hover {
    background-color: coral;
    color: #fff;
}

.btn-month:active {
    padding: 3px 20px;
}

.amount-calculation-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amount-cal {
    width: 23%;
    box-sizing: border-box;
    padding: 15px;
    border: solid 1px #ccc;
    font-size: 14px;
    text-align: end;
    color: #555;
}

.cal-total {
    border: solid 1px #f90;
    color: #fff;
}

.filter-group {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    font-size: 14px;
    color: #777;
}

.filter-group p {
    font-size: 20px;
}

.filter-modify {
    padding: 5px 10px;
    border-radius: 3px;
    height: 30px;
    border: solid 1px #ccc;
}

.area-id {
    margin-right: 3px;
}

.date-start {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.date-end {
    margin: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
}

.icon-calendar {
    color: #333;
    background-color: #eee;
    box-sizing: border-box;
    border: solid 1px #ccc;
    margin-left: -1px;
    border-radius: 3px;
    height: 30px;
    display: flex;
    align-items: center;
}

.icon-calendar i {
    padding: 0px 10px;
}

.btn-filter,.btn-search {
    color: #fff;
    background-color: rgb(24, 3, 9);
    border: solid 1px rgb(24, 3, 9);
    border-radius: 5rem;
    padding: 3px 20px;
}

.btn-filter:hover,.btn-search:hover {
    background-color: rgb(86, 73, 79);
    border: solid 1px rgb(86, 73, 79);
}

.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-list {
    border: solid 1px #ccc;
    border-collapse: collapse;
}

.table-list th {
    border: solid 1px #ccc;
    padding: 10px 20px;
    font-size: 14px;
}

.non-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.non-order i {
    color: #777;
    margin: 50px 0px 30px 0px;
}